.sombreado:hover {
  background-color: #5fb3a0;
  font-weight: bolder;
}
.navbar {
  border: solid black 1px;
  padding-right: 10px;
}
.navbar-fixed {
  position: fixed;
  z-index: 1000;
  top: 0;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  width: 100%;
}
.btn {
  background-color: #5fb3a0;
  color: white;
}
.btn:hover {
  font-weight: bolder;
  color: white;
}
