@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Exo:wght@100;400&display=swap");

.fontExo {
  font-family: "Exo", sans-serif;
  font-weight: 400;
}

.sombreado:hover {
  background-color: #5fb3a0;
  font-weight: bolder;
}
.navbar {
  border: solid black 1px;
  padding-right: 10px;
}
.navbar-fixed {
  position: fixed;
  z-index: 1000;
  top: 0;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  width: 100%;
}
.btn {
  background-color: #5fb3a0;
  color: white;
}
.btn:hover {
  font-weight: bolder;
  color: white;
}

.margin-right {
  margin-right: 30px;
}

.nombre-usuario {
  color: #06bfa7;
  font-size: 2.1rem;
  margin: 0;
}
.nombre-usuario span {
  font-weight: 400;
}
